@tailwind base;
@tailwind components;
@tailwind utilities;

/*? Navbar Styling Started */
* {
  box-sizing: border-box;
  transition: 0.08s;
}

body.dark {
  background-color: #18181b;
}
.o-h {
  overflow: hidden;
}

.link {
  position: relative;
  transition: 0.4s;
}

.link:hover {
  color: #5471c7;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #5471c7;
  right: 100%;
  bottom: 0;
  transition: 0.2s;
}

.link:hover:after {
  right: 0;
  bottom: 0;
}

.active {
  color: #5471c7;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #5471c7;
  right: 0;
  bottom: 0;
  transition: 0.2s;
}

/*` Navbar Styling Ended */

/*? Hero Section Styling Started */

.img-div::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 20px;
  width: 150px;
  height: 150px;
  background-color: #b7b0f3;
  /* background-color: #3e1563; */
}

.img-div::before {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 20px;
  width: 150px;
  height: 150px;
  background-color: #b7b0f3;
  margin-top: 20px;
}

/*` Hero Section Styling Ended */
